name: Deploy via FTP

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: growup/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: growup

      - name: Build
        run: npm run build
        working-directory: growup

      - name: Deploy (SFTP)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          port: ${{ secrets.FTP_PORT }}
          source: "growup/dist/growup/browser/*"
          target: "/home/wisefire/growup.bruner.app/grow-up"
